<DisplayHeader
    Title="Select your plan"
    Description="You have the option of monthly or yearly billing."
/>

<div class="plan-cards">
    @foreach (var plan in StepsData.Plans)
    {
        <PlanCard 
            Title="@plan.Title" 
            Icon="@plan.Icon" 
            Price="@plan.Price"
            OnClicked="@(() => SelectCardId(plan.Id))"
            IsSelected="@(SelectedCardId == plan.Id)"
        />
    }
</div>

@code 
{
    [Parameter] public int SelectedCardId { get; set; }
    [Parameter] public EventCallback<int> SelectedCardIdChanged { get; set; }

    private async Task SelectCardId(int id)
    {
        await SelectedCardIdChanged.InvokeAsync(id);
    }
}
